.~*#
.cproject
.metadata
.nfs*
.project
.settings
*.alib
*.cl
*.dat
*.dis
*.elf
*.hex
*.log
*.map
*.mem
*.mr
*.o
*.out
*.pvl
*.scd.map
*.svf
*.syn
*.wlf
*~
a23/tools/amber-elfsplitter
a23/tools/amber-elfsplitter*.scd
alib-52/
bin/
clog*
debug/
syn/
syn/*
transcript
work/
work/*
scd/netlists/*.v
scd/netlists/*.scd
scd/netlists/*.sh